{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="tables.html">Tickets</a>
        </li>
        <li class="breadcrumb-item active">Concerned Tables</li>
      </ol>
        <div class="container-fluid">
          <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Tickets information:</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>FlightNumber</th>
                    <th>depTime</th>
                    <th>arrTime</th>
                    <th>depAirport</th>
                    <th>arrAirport</th>
                    <th>Price/Currency</th>
                    <th>Seats</th>
                    <th>updateTime</th>
                    <th>operation</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>FlightNumber</th>
                    <th>depTime</th>
                    <th>arrTime</th>
                    <th>depAirport</th>
                    <th>arrAirport</th>
                    <th>Price</th>
                    <th>Seats</th>
                    <th>updateTime</th>
                    <th>operation</th>
                  </tr>
                </tfoot>
                <tbody>
                {%　csrf_token %}
                {% for ticket in tickets %}
                  <tr>
                    <td>{{ ticket.flightNumber }}</td>
                    <td>{{ ticket.depDatetime }}</td>
                    <td>{{ ticket.arrDatetime }}</td>
                    <td>{{ ticket.depAirport }}</td>
                    <td>{{ ticket.arrAirport }}</td>
                    <td>{{ ticket.adultPrice }} / {{ ticket.currency }}</td>
                    <td>{{ ticket.maxSeats }}</td>
                    <td>{{ ticket.getDatetime }}</td>
                    <td><input class="btn btn-primary btn-block" type="button" name= "{{　ticket.id　}}" value="delete concern" onclick="delete_concern({{ ticket.id }});"></td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated at {{ now_time }}</div>
        </div>
      </div>
</div>
<script>
  function delete_concern(ticket_id){
    $.ajax({
      type: 'POST',
      url: '/deleteconcern',
      dataType: 'json',
      timeout: 3000,
      data: {
        "ticket_id": ticket_id
       },
      success: function(data) {
          alert('aha')
          console.log('success')
      },
      error: function(data){
          window.location.reload();
       }
    });
  }


</script>
{% endblock %}
