{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="tables.html">Tickets</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>
        <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Tickets information:</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>FlightNumber</th>
                  <th>depTime</th>
                  <th>arrTime</th>
                  <th>depAirport</th>
                  <th>arrAirport</th>
                  <th>adultPrice</th>
                  <th>Currency</th>
                  <th>Seats</th>
                  <th>updateTime</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>FlightNumber</th>
                  <th>depTime</th>
                  <th>arrTime</th>
                  <th>depAirport</th>
                  <th>arrAirport</th>
                  <th>Price</th>
                  <th>Currency</th>
                  <th>Seats</th>
                  <th>updateTime</th>
                </tr>
              </tfoot>
              <tbody>
              {% for ticket in tickets %}
                <tr>
                  <td>{{ ticket.flightNumber }}</td>
                  <td>{{ ticket.depDatetime }}</td>
                  <td>{{ ticket.arrDatetime }}</td>
                  <td>{{ ticket.depAirport }}</td>
                  <td>{{ ticket.arrAirport }}</td>
                  <td>{{ ticket.adultPrice }}</td>
                  <td>{{ ticket.currency }}</td>
                  <td>{{ ticket.maxSeats }}</td>
                  <td>{{ ticket.getDatetime }}</td>
                </tr>
               {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated at {{ now_time }}</div>
      </div>
    </div>
{% endblock %}
